<!--====================================
    =            Navigation bar            =
    =====================================-->
    <app-navbar></app-navbar>
    <!--====  End of Navigation bar  ====-->
    
    
    
    <router-outlet></router-outlet>
    <!--=========================================
            =            Home middle section            =
            ==========================================-->
    
    <!-- <app-middle-section></app-middle-section> -->
   
    
    
    <!--====  End of Home middle section  ====-->
    
    <!--=================================
            =            Main Footer            =
            ==================================-->
    

    <app-footer></app-footer> 

    
    <!--====  End of Main Footer  ====-->
    
    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--[if lt IE 9]><script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="/assets/js/ie-emulation-modes-warning.js"></script> -->
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    <!-- <script src="js/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script> -->
    <!-- <script src="/assets/js/jquery-3.5.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
            <script src="/assets/s/popper.min.js"></script>
            <script src="/assets/js/bootstrap.min.js"></script>
            <script src="/assets/js/slick.min.js"></script>
            <script src="/assets/js/comman.js"></script>
            <script type="text/javascript">
              $('#effectivedate').datepicker({
                  weekStart: 1,
                  daysOfWeekHighlighted: "6,0",
                  autoclose: true,
                  todayHighlight: true,
              });
              $('#effectivedate').datepicker("setDate", new Date());
              $('#endeffectivedate').datepicker({
                  weekStart: 1,
                  daysOfWeekHighlighted: "6,0",
                  autoclose: true,
                  todayHighlight: true,
              });
              $('#endeffectivedate').datepicker("setDate", new Date());
          </script> -->